body{
    background-image: url("./image/background.jpeg");
    position: relative;
}

h1{
    font-size: 80px;   
}
.cover{
    margin: 50px;
}

.selector{
    margin-bottom: 15px;
}

.todo-list{
    text-align: center;
    margin-top: 20px;
}


li {
   list-style-position: center;
   list-style: none;
}

#add{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#deleter{
    float: left;
    right: 180px;
    position: absolute;
}