.cover{
    padding: 50px;
}

.selector{
    padding: 20px;
}

.mainstyle{
    background-image: url("background1.png");
    position: relative;
    min-height: 500px;
}

/* .olcontainer{
    text-align: center;
} */